*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#plateau {
    font-size: 0;
    line-height: 0;
    margin: 50px;
}

.button{
    height: 30px;
    width: 30px;
    background-size: cover;       /* L’image remplit tout le bouton */
    background-position: center;  /* L’image est centrée */
    background-repeat: no-repeat; /* Empêche la répétition */
    opacity: 1;
    box-sizing: border-box;  /* inclut border et padding dans la taille */
    display: inline-flex;     /* pour centrer l'image */
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
}

button img{
    width: 100%;
    height: 100%;
    display: block;
}

body{
    background-image: url(img/just-moved-over-to-linux-wanted-a-background-didnt-find-v0-oobp7nrrolke1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1{
    padding: 20px;
    font-weight: bolder;
    font-size: 40px;
}

#WIN{
    font-size: 30px;
    color:orangered;
    font-weight: bold;
    margin-top: 20px;
}

p{
    margin: 5px;
}

input{
    background-color: black;
    color: mediumpurple;
    border: 4px solid  black ;
    border-radius: 5px;
}

select{
    background-color: black;
    color: mediumpurple;
    border: 4px solid  black ;
    border-radius: 5px;
}

input:active{
    color: blueviolet;
}