*{
    background-color: #000;
    color: #0F0;
    font-family: Arial, helvetica, sans seriff;
}

button{
    background-color: #333;
}

h1{
    text-align: center;
    font-weight: bold;
}

p{
    text-align: center;
}


button{
    display: inline-block;
}

div{
    background-color: #310427;
    display: none;
    text-align: center;
    margin: 35%;
    border: 2px solid #333;
    width: 220px;
    padding: 20px;
}

button:first-child{
    display: inline-block;
    margin: 50%;
}