*{
    background-color: #000;
    color: #FFF;
}

body{
    font-family: Arial, helvetica, sans seriff;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.question{
    display: none;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button{
    margin-top: 15px;
    padding: 10px 15px;
    cursor: pointer;
}

.correct{
    color: green;
}

.incorrect{
    color: red;
}



img{
    height: 125px;
    display: inline-block;
}
